<h2 align="center">Title: <%= @article.title %></h2>

<div class="card card-body bg-light col-sm-8 col-sm-offset-2">
  <h4 class="center description"><strong>Description:</strong></h4>
  <hr>
  <%= simple_format(@article.description) %>
  <div class="article-actions">
    <%= link_to "Back to articles listing", articles_path, class:"btn btn-sm btn-success" %> |
    <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-sm btn-primary" %>
    <%= link_to "Delete this article", articles_path(@article), method: :delete, data: {confirm: "Are you sure you want to delete the article"}, class:"btn btn-sm btn-danger" %>
</div>
</div>
